<!DOCTYPE html>
<html>
  <head>
    <title>Talk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="http://at.alicdn.com/t/font_386981_kr94joa748mjwcdi.js"></script>
  </head>
  <body>
  <section>
      <h1>Simple AI Bot</h1>
      <button id="btn">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-yuyin"></use>
        </svg>
      </button>
      <div class="talk-list">

      </div>
    </section>

    <h1></h1>
    <script src="//cdn.bootcss.com/socket.io/2.0.3/socket.io.slim.js"></script>
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>